@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.cinzel-font {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.moirai-one{
  font-family: "Moirai One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.funny-font {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}